<template>
  <div id="product-view">
    {{ todo.text }}
    {{ todo.done }}

    <router-link :to="'/product/' + id + '/'">
      Description
    </router-link>

    <router-link :to="'/product/' + id + '/spect'">
      Spect
    </router-link>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'ProductView',
  data () {
    return {
      id: '',
      todo: {}
    }
  },
  watch: {
    '$route': 'fetchApi'
  },
  mounted () {
    this.fetchApi()
  },
  methods: {
    fetchApi () {
      this.id = this.$route.params.id
      fetch('http://localhost:4000/todos/' + this.id)
        .then(response => response.json())
        .then(todo => {
          this.todo = todo
        })
    }
  }
}
</script>
