<template>
  <div id="app">
    <router-link to="/">Todo</router-link> &nbsp;
    <router-link to="/login">Login</router-link>

    <transition name="slide">
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
.slide-enter-active {
  transition: all .1s ease;
}
.slide-enter-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
